<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xy.jepackdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".common.App"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/App_Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.strategy.StrategyActivity"
            android:theme="@style/App_Activity.MainActivity" />

        <activity
            android:name=".ui.SettingActivity"
            android:theme="@style/App_Activity.MainActivity" />
    </application>

</manifest>